// Required
// Offline
//@import "~bootstrap/scss/bootstrap"
//$image-path: '~mdbvue/lib/img'  // image path variable update
//@import '~mdbvue/lib/scss/mdb-free' // main mdb scss free file
//@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap') // font import

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

//$main-bg-color: #f4f4f4
#wrapper
  //display: flex

#left
  @include make-col-ready()
  @include media-breakpoint-up(md)
    @include make-col(2.5)
#center
  @include make-col-ready()
  @include media-breakpoint-up(md)
    @include make-col(6.5)
.md-v-line
    position: absolute
    border-left: 1px solid rgba(0,0,0,.125)
    height: 50px
    top: 0px
    left: 54px


